#
# Java .gitignore
# https://github.com/github/gitignore/blob/master/Java.gitignore
#
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#
# Maven .gitignore
# https://github.com/github/gitignore/blob/master/Maven.gitignore
#
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

#
# Eclipse .gitignore
# https://github.com/github/gitignore/blob/master/Global/Eclipse.gitignore
#
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.checkstyle

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# SonarLint folders
.sonarlint/

# IDEA
.idea/
**/*.iml

#
# Embedded derby DB
# 
derby.log

#
# Velocity
#
velocity.log

#
# Os X index files
#
.DS_Store

#
# vagrant runtime environment
#
.vagrant

# Temporarly hide consoleV2 folder until it's merged from its branch
console-v2/

# Visual Studio Code project settings
.vscode
