#login-view {
    background-image: url(../img/login-background.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
    background-size:cover;
    height: 100%;
}

#kapua-logo-container {
    height: 78px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

#kapua-logo {
    height: 48px;
}

#login-form-container {
    position: absolute;
    top: 45%;
    background-color: rgba(255, 255, 255, 0.5);

    #details {
        padding-top: 20px;
    }
}

