.navbar-brand-icon {
    height: 30px;
}

/* Have to set height explicity on ui-view 
to prevent collapsing during animation*/
.kapua-view-container {
  position: relative;
  height: 65px;
}

ui-view[name="kapuaView"].ng-enter, ui-view[name="kapuaView"].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

ui-view[name="kapuaView"].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

ui-view[name="kapuaView"].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

ui-view[name="kapuaView"].ng-leave {
  opacity: 1; 
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

ui-view[name="kapuaView"].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}