<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2011, 2017 Eurotech and/or its affiliates and others

    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
        Eurotech - initial API and implementation
        Red Hat Inc
 -->
<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <listener>
        <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.eclipse.kapua.app.console.server.util.ConsoleListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.eclipse.kapua.app.console.core.server.util.SsoLocatorListener</listener-class>
    </listener>

    <filter>
        <filter-name>ShiroFilter</filter-name>
        <filter-class>org.eclipse.kapua.app.console.core.filter.KapuaWebFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ShiroFilter</filter-name>
        <url-pattern>*.html</url-pattern>
        <url-pattern>*.jsp</url-pattern>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.css</url-pattern>
        <url-pattern>/xsrf/*</url-pattern>
        <url-pattern>/errroHandler/*</url-pattern>
        <url-pattern>/about/*</url-pattern>
        <url-pattern>/account/*</url-pattern>
        <url-pattern>/auth/*</url-pattern>
        <url-pattern>/device/*</url-pattern>
        <url-pattern>/deviceManagement/*</url-pattern>
        <url-pattern>/deviceConnection/*</url-pattern>
        <url-pattern>/deviceConnectionOption/*</url-pattern>
        <url-pattern>/device_snapshots/*</url-pattern>
        <url-pattern>/user/*</url-pattern>
        <url-pattern>/data/*</url-pattern>
        <url-pattern>/exporter_data/*</url-pattern>
        <url-pattern>/exporter/*</url-pattern>
        <url-pattern>/exporter_usage/*</url-pattern>
        <url-pattern>/exporter_device/*</url-pattern>
        <url-pattern>/exporter_device_event/*</url-pattern>
        <url-pattern>/settings/*</url-pattern>
        <url-pattern>/role/*</url-pattern>
        <url-pattern>/accessrole/*</url-pattern>
        <url-pattern>/accessinfo/*</url-pattern>
        <url-pattern>/accesspermission/*</url-pattern>
        <url-pattern>/domain/*</url-pattern>
        <url-pattern>/group/*</url-pattern>
        <url-pattern>/tag/*</url-pattern>
        <url-pattern>/credential/*</url-pattern>
        <url-pattern>/asset/*</url-pattern>
        <url-pattern>/job/*</url-pattern>
        <url-pattern>/jobStep/*</url-pattern>
        <url-pattern>/jobStepDefinition/*</url-pattern>
        <url-pattern>/jobTarget/*</url-pattern>
        <url-pattern>/jobEngine/*</url-pattern>
        <url-pattern>/trigger/*</url-pattern>
        <url-pattern>/execution/*</url-pattern>
        <url-pattern>/console/*</url-pattern>
        <url-pattern>/file/*</url-pattern>
        <url-pattern>/image/*</url-pattern>
    </filter-mapping>

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>console.jsp</welcome-file>
    </welcome-file-list>

    <!-- Session Timeout -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <!--  -->
    <!-- Servlets -->
    <!--  -->

    <!-- XSRF servlet support -->
    <servlet>
        <servlet-name>GwtSecurityTokenServiceImpl</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.module.api.server.GwtSecurityTokenServiceImpl
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GwtSecurityTokenServiceImpl</servlet-name>
        <url-pattern>/xsrf/*</url-pattern>
    </servlet-mapping>

    <!-- Http error handling servlet -->
    <servlet>
        <servlet-name>KapuaErrorHandlerServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.core.servlet.KapuaErrorHandlerServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KapuaErrorHandlerServlet</servlet-name>
        <url-pattern>/errorHandler/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GwtAboutServiceImpl</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.module.about.server.GwtAboutServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GwtAboutServiceImpl</servlet-name>
        <url-pattern>/about/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GwtSettingsServiceImpl</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.core.server.GwtSettingsServiceImpl
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GwtSettingsServiceImpl</servlet-name>
        <url-pattern>/settings/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deviceExporterServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.module.device.servlet.DeviceExporterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deviceExporterServlet</servlet-name>
        <url-pattern>/exporter_device/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deviceEventExporterServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.module.device.servlet.DeviceEventExporterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deviceEventExporterServlet</servlet-name>
        <url-pattern>/exporter_device_event/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deviceSnapshotsServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.module.device.servlet.DeviceSnapshotsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deviceSnapshotsServlet</servlet-name>
        <url-pattern>/device_snapshots/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>accountServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.module.account.server.GwtAccountServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>accountServlet</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>authorizationServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.core.server.GwtAuthorizationServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>authorizationServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deviceServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.module.device.server.GwtDeviceServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deviceServlet</servlet-name>
        <url-pattern>/device</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deviceManagementServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.module.device.server.GwtDeviceManagementServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deviceManagementServlet</servlet-name>
        <url-pattern>/deviceManagement</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deviceConnectionServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.module.device.server.GwtDeviceConnectionServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deviceConnectionServlet</servlet-name>
        <url-pattern>/deviceConnection</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deviceConnectionOptionServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.module.device.server.GwtDeviceConnectionOptionServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deviceConnectionOptionServlet</servlet-name>
        <url-pattern>/deviceConnectionOption</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>roleServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.module.authorization.server.GwtRoleServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>roleServlet</servlet-name>
        <url-pattern>/role</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>accessRoleServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.module.authorization.server.GwtAccessRoleServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>accessRoleServlet</servlet-name>
        <url-pattern>/accessrole</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>accessInfoServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.module.authorization.server.GwtAccessInfoServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>accessInfoServlet</servlet-name>
        <url-pattern>/accessinfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>accessPermissionServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.module.authorization.server.GwtAccessPermissionServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>accessPermissionServlet</servlet-name>
        <url-pattern>/accesspermission</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>domainServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.module.authorization.server.GwtDomainServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>domainServlet</servlet-name>
        <url-pattern>/domain</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>groupServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.module.authorization.server.GwtGroupServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>groupServlet</servlet-name>
        <url-pattern>/group</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>dataServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.module.data.server.GwtDataServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dataServlet</servlet-name>
        <url-pattern>/data</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>dataExporterServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.module.data.servlet.DataExporterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>dataExporterServlet</servlet-name>
        <url-pattern>/exporter_data/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>tagServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.module.tag.server.GwtTagServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tagServlet</servlet-name>
        <url-pattern>/tag</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.module.user.server.GwtUserServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>assetServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.module.device.server.GwtDeviceAssetServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>assetServlet</servlet-name>
        <url-pattern>/asset</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>jobServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.module.job.server.GwtJobServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>jobServlet</servlet-name>
        <url-pattern>/job</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>jobStepServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.module.job.server.GwtJobStepServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>jobStepServlet</servlet-name>
        <url-pattern>/jobStep</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>jobStepDefinitionServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.module.job.server.GwtJobStepDefinitionServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>jobStepDefinitionServlet</servlet-name>
        <url-pattern>/jobStepDefinition</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>jobTargetServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.module.job.server.GwtJobTargetServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>jobTargetServlet</servlet-name>
        <url-pattern>/jobTarget</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>jobEngineServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.module.job.server.GwtJobEngineServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>jobEngineServlet</servlet-name>
        <url-pattern>/jobEngine</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>triggerServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.module.job.server.GwtTriggerServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>triggerServlet</servlet-name>
        <url-pattern>/trigger</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>executionServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.module.job.server.GwtExecutionServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>executionServlet</servlet-name>
        <url-pattern>/execution</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>org.eclipse.kapua.app.console.console GwtCredentialService</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.module.authentication.server.GwtCredentialServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>org.eclipse.kapua.app.console.console GwtCredentialService</servlet-name>
        <url-pattern>/credential</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GwtConsoleService</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.module.api.server.GwtConsoleServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GwtConsoleService</servlet-name>
        <url-pattern>/console</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
    </listener>

    <servlet>
        <servlet-name>fileServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.core.servlet.FileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fileServlet</servlet-name>
        <url-pattern>/file/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>skinServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.core.servlet.SkinServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>skinServlet</servlet-name>
        <url-pattern>/skin/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ssoCallbackServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.core.servlet.SsoCallbackServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ssoCallbackServlet</servlet-name>
        <url-pattern>/sso/callback</url-pattern>
    </servlet-mapping>

    <!--
      |
      |  Error Pages
      |
      -->
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/errorHandler/throwable</location>
    </error-page>

    <error-page>
        <error-code>400</error-code>
        <location>/errorHandler/httpError</location>
    </error-page>

    <error-page>
        <error-code>401</error-code>
        <location>/errorHandler/httpError</location>
    </error-page>

    <error-page>
        <error-code>403</error-code>
        <location>/errorHandler/httpError</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/errorHandler/httpError</location>
    </error-page>

    <error-page>
        <error-code>405</error-code>
        <location>/errorHandler/httpError</location>
    </error-page>


</web-app>
