  <div>
    Client ID: {{ vm.device.clientId }}
  </div>
  
  <div class="col-md-4" pf-aggregate-status-card head-title="Installed Packages" show-top-border="true" status="vm.packagesStatus"></div>
  <div class="col-md-4" pf-aggregate-status-card head-title="Bundles" show-top-border="true" status="vm.bundlesStatus"></div>
  <div class="col-md-4" pf-aggregate-status-card head-title="Events" show-top-border="true" status="vm.eventsStatus"></div>
  <div class="col-md-4" pf-aggregate-status-card head-title="Commands" show-top-border="true" status="vm.commandsStatus"></div>
  <div class="col-md-4" pf-aggregate-status-card head-title="Configurations" show-top-border="true" status="vm.configurationsStatus"></div>
</div>
