<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2011, 2016 Eurotech and/or its affiliates and others
   
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Eurotech - initial API and implementation
   
 -->

<web-app version="2.5" 
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <listener>
        <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
    </listener>

	<listener>
        <listener-class>org.eclipse.kapua.app.console.server.util.ConsoleListener</listener-class>
    </listener>
    
	<filter>
	   <filter-name>ShiroFilter</filter-name>
        <filter-class>org.eclipse.kapua.app.console.filter.KapuaWebFilter</filter-class>
   	</filter>
	<filter-mapping>
		<filter-name>ShiroFilter</filter-name>
        <url-pattern>*.html</url-pattern>
        <url-pattern>*.jsp</url-pattern>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.css</url-pattern>
        <url-pattern>/xsrf/*</url-pattern>   
        <url-pattern>/errroHandler/*</url-pattern>     
        <url-pattern>/account/*</url-pattern>
        <url-pattern>/auth/*</url-pattern>
        <url-pattern>/device/*</url-pattern>
        <url-pattern>/deviceManagement/*</url-pattern>
        <url-pattern>/device_snapshots/*</url-pattern>
        <url-pattern>/user/*</url-pattern>
        <url-pattern>/data/*</url-pattern>
        <url-pattern>/exporter/*</url-pattern>
        <url-pattern>/exporter_usage/*</url-pattern>
        <url-pattern>/exporter_device/*</url-pattern>
        <url-pattern>/exporter_device_event/*</url-pattern>
        <url-pattern>/settings/*</url-pattern>
        <url-pattern>/role/*</url-pattern>
        <url-pattern>/file/*</url-pattern>
        <url-pattern>/image/*</url-pattern>
	</filter-mapping>
	
    <filter>
	    <filter-name>jetty-gzip</filter-name>
	    <filter-class>org.mortbay.servlet.GzipFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>jetty-gzip</filter-name>
        <url-pattern>*.html</url-pattern>
        <url-pattern>*.jsp</url-pattern>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.css</url-pattern>
        <url-pattern>/xsrf/*</url-pattern>   
        <url-pattern>/errroHandler/*</url-pattern>     
        <url-pattern>/account/*</url-pattern>
        <url-pattern>/auth/*</url-pattern>
        <url-pattern>/device/*</url-pattern>
        <url-pattern>/deviceManagement/*</url-pattern>
        <url-pattern>/device_snapshots/*</url-pattern>
        <url-pattern>/user/*</url-pattern>
        <url-pattern>/data/*</url-pattern>
        <url-pattern>/exporter/*</url-pattern>
        <url-pattern>/exporter_usage/*</url-pattern>
        <url-pattern>/exporter_device/*</url-pattern>
        <url-pattern>/exporter_device_event/*</url-pattern>
        <url-pattern>/role/*</url-pattern>
        <url-pattern>/settings/*</url-pattern>
        <url-pattern>/image/*</url-pattern>
   <!--
   Do not include the following URL patterns for gzip
   compression as it breaks the existing functionality.          
        <url-pattern>/file/*</url-pattern>
        <url-pattern>/SSLfile/*</url-pattern>
        <url-pattern>/gwtComet/*</url-pattern>        
    -->        
	</filter-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>console.jsp</welcome-file>
	</welcome-file-list>


	<!-- Session Timeout -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

    <!--  -->
	<!-- Servlets -->
	<!--  -->
    
	<!-- Http error handling servlet -->
	<servlet>
      <servlet-name>KapuaErrorHandlerServlet</servlet-name>
      <servlet-class>org.eclipse.kapua.app.console.servlet.KapuaErrorHandlerServlet
      </servlet-class>
   	</servlet>
   	<servlet-mapping>
      <servlet-name>KapuaErrorHandlerServlet</servlet-name>
      <url-pattern>/errorHandler/*</url-pattern>
   	</servlet-mapping>
   
	<!-- XSRF servlet support -->
   <servlet>
      <servlet-name>GwtSecurityTokenServiceImpl</servlet-name>
      <servlet-class>org.eclipse.kapua.app.console.server.GwtSecurityTokenServiceImpl
      </servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>GwtSecurityTokenServiceImpl</servlet-name>
      <url-pattern>/xsrf/*</url-pattern>
   </servlet-mapping>

    <servlet>
      <servlet-name>GwtSettingsServiceImpl</servlet-name>
      <servlet-class>org.eclipse.kapua.app.console.server.GwtSettingsServiceImpl
      </servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>GwtSettingsServiceImpl</servlet-name>
      <url-pattern>/settings/*</url-pattern>
   </servlet-mapping>

    <servlet>
        <servlet-name>deviceExporterServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.servlet.DeviceExporterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deviceExporterServlet</servlet-name>
        <url-pattern>/exporter_device/*</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>deviceSnapshotsServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.servlet.DeviceSnapshotsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deviceSnapshotsServlet</servlet-name>
        <url-pattern>/device_snapshots/*</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>accountServlet</servlet-name>
		<servlet-class>org.eclipse.kapua.app.console.server.GwtAccountServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>accountServlet</servlet-name>
		<url-pattern>/account</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>authorizationServlet</servlet-name>
		<servlet-class>org.eclipse.kapua.app.console.server.GwtAuthorizationServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>authorizationServlet</servlet-name>
		<url-pattern>/auth</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>deviceServlet</servlet-name>
		<servlet-class>org.eclipse.kapua.app.console.server.GwtDeviceServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deviceServlet</servlet-name>
		<url-pattern>/device</url-pattern>
	</servlet-mapping>

    <servlet>
        <servlet-name>deviceManagementServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.server.GwtDeviceManagementServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deviceManagementServlet</servlet-name>
        <url-pattern>/deviceManagement</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>roleServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.server.GwtRoleServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>roleServlet</servlet-name>
        <url-pattern>/role</url-pattern>
    </servlet-mapping>


	<servlet>
		<servlet-name>userServlet</servlet-name>
		<servlet-class>org.eclipse.kapua.app.console.server.GwtUserServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userServlet</servlet-name>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>

    <listener>
      <listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
    </listener>

    <servlet>
        <servlet-name>fileServlet</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.servlet.FileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fileServlet</servlet-name>
        <url-pattern>/file/*</url-pattern>
    </servlet-mapping>

	
	<!-- 
      |
      |  Error Pages
      |
      -->
	<error-page>
   		<exception-type>java.lang.Throwable</exception-type>
   		<location>/errorHandler/throwable</location>
 	</error-page>
 	
 	<error-page>
   		<error-code>400</error-code>
   		<location>/errorHandler/httpError</location>
 	</error-page>
 	
 	<error-page>
   		<error-code>401</error-code>
   		<location>/errorHandler/httpError</location>
 	</error-page>
 	
 	<error-page>
   		<error-code>403</error-code>
   		<location>/errorHandler/httpError</location>
 	</error-page>
 	
 	<error-page>
   		<error-code>404</error-code>
   		<location>/errorHandler/httpError</location>
 	</error-page>
 	
 	<error-page>
   		<error-code>405</error-code>
   		<location>/errorHandler/httpError</location>
 	</error-page>
 	
</web-app>
