version: '3.1'

services:
  db:
    image: kapua/kapua-sql:${IMAGE_VERSION}
    ports:
    - 8181:8181
    - 3306:3306
  es:
    image: elasticsearch:5.4.0
    ports:
      - 9200:9200
      - 9300:9300
    environment:
      - cluster.name=kapua-datastore
      - discovery.type=single-node
      - transport.host=_site_
      - transport.ping_schedule=-1
      - transport.tcp.connect_timeout=30s
  events-broker:
    image: kapua/kapua-events-broker:${IMAGE_VERSION}
    ports:
    - 5682:5682
  broker:
    image: kapua/kapua-broker:${IMAGE_VERSION}
    ports:
    - 1883:1883
    - 61614:61614
    - 5672:5672
    depends_on:
      - db
      - es
      - events-broker
  kapua-console:
    image: kapua/kapua-console:${IMAGE_VERSION}
    ports:
    - 8080:8080
    depends_on:
      - broker
      - db
      - es
      - events-broker
  kapua-api:
    image: kapua/kapua-api:${IMAGE_VERSION}
    ports:
    - 8081:8080
    depends_on:
      - broker
      - db
      - es
      - events-broker
  kapua-activemq-datastore:
    image: kapua/kapua-activemq-datastore:${IMAGE_VERSION}
    depends_on:
      - broker
      - es
  kapua-activemq-error:
    image: kapua/kapua-activemq-error:${IMAGE_VERSION}
    depends_on:
    - broker
    - es
  kapua-activemq-lifecycle:
    image: kapua/kapua-activemq-lifecycle:${IMAGE_VERSION}
    depends_on:
    - broker
    - es
