<?xml version="1.0" encoding="utf-8"?>
<!--
    Copyright (c) 2021, 2022 Eurotech and/or its affiliates and others

    This program and the accompanying materials are made
    available under the terms of the Eclipse Public License 2.0
    which is available at https://www.eclipse.org/legal/epl-2.0/

    SPDX-License-Identifier: EPL-2.0

    Contributors:
        Eurotech - initial API and implementation
 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:camel="http://camel.apache.org/schema/spring"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
           http://camel.apache.org/schema/spring https://camel.apache.org/schema/spring/camel-spring-3.3.0.xsd">

    <!-- Allows us to use system properties as variables in this configuration file -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <!-- no property file now
            <property name="locations">
                <value>file:${path}/conf.properties</value>
            </property>
        -->
    </bean>

    <bean id="routesStatus" class="org.eclipse.kapua.service.authentication.AuthenticationRouteHealthIndicator">
        <property name="camelContext" ref="authenticationContext"></property>
        <property name="routeCount" value="2"></property>
    </bean>

    <bean id="connectionFactory" class="org.apache.qpid.jms.JmsConnectionFactory">
        <constructor-arg name="username" type="java.lang.String" value="${SERVICE_BROKER_USERNAME}"/>
        <constructor-arg name="password" type="java.lang.String" value="${SERVICE_BROKER_PASSWORD}"/>
        <constructor-arg name="remoteURI" type="java.lang.String" value="amqp://${SERVICE_BROKER_HOST}:${SERVICE_BROKER_PORT}"/>
    </bean>

    <bean id="cachingConnectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
        <property name="targetConnectionFactory" ref="connectionFactory"/>
        <property name="sessionCacheSize" value="10"/> <!-- it's the maximum number of cached sessions  -->
        <property name="reconnectOnException" value="true"/>
    </bean>

    <bean id="amqp" class="org.apache.camel.component.amqp.AMQPComponent">
        <property name="connectionFactory" ref="cachingConnectionFactory"/>
        <property name="cacheLevel" value="2"/>
    </bean>

    <!--  -->
    <bean id="adminAuthenticationLogic" class="org.eclipse.kapua.service.authentication.authentication.AdminAuthenticationLogic">
        <constructor-arg name="aclCreator" ref="aclCreator"/>
        <constructor-arg name="authenticationMetric" ref="authenticationMetric"/>
        <constructor-arg name="deviceConnectionOptionFactory" ref="deviceConnectionOptionFactory"/>
        <constructor-arg name="deviceConnectionOptionService" ref="deviceConnectionOptionService"/>
        <constructor-arg name="authorizationService" ref="authorizationService"/>
        <constructor-arg name="deviceConnectionFactory" ref="deviceConnectionFactory"/>
        <constructor-arg name="permissionFactory" ref="permissionFactory"/>
        <constructor-arg name="deviceConnectionService" ref="deviceConnectionService"/>
    </bean>
    <bean id="userAuthenticationLogic" class="org.eclipse.kapua.service.authentication.authentication.UserAuthenticationLogic">
        <constructor-arg name="aclCreator" ref="aclCreator"/>
        <constructor-arg name="authenticationMetric" ref="authenticationMetric"/>
        <constructor-arg name="deviceConnectionOptionFactory" ref="deviceConnectionOptionFactory"/>
        <constructor-arg name="deviceConnectionOptionService" ref="deviceConnectionOptionService"/>
        <constructor-arg name="authorizationService" ref="authorizationService"/>
        <constructor-arg name="deviceConnectionFactory" ref="deviceConnectionFactory"/>
        <constructor-arg name="permissionFactory" ref="permissionFactory"/>
        <constructor-arg name="deviceConnectionService" ref="deviceConnectionService"/>
    </bean>

    <!-- session filers (to bind Kapua and Shiro thread context) -->
    <bean id="kapuaCamelFilter" class="org.eclipse.kapua.service.camel.converter.KapuaCamelFilter"/>

    <bean id="errorMessageListener" class="org.eclipse.kapua.service.camel.listener.error.ErrorMessageListener">
        <constructor-arg name="metricsCamel" ref="metricsCamel"/>
    </bean>

    <bean id="defaultAuthenticator" class="org.eclipse.kapua.service.authentication.authentication.DefaultAuthenticator">
        <constructor-arg name="adminAuthenticationLogic" ref="adminAuthenticationLogic"/>
        <constructor-arg name="userAuthenticationLogic" ref="userAuthenticationLogic"/>
        <constructor-arg name="deviceRegistryService" ref="deviceRegistryService"/>
        <constructor-arg name="authenticationMetric" ref="authenticationMetric"/>
        <constructor-arg name="serviceAuthenticationSetting" ref="serviceAuthenticationSetting"/>
        <constructor-arg name="systemSetting" ref="systemSetting"/>
        <constructor-arg name="serviceEventBus" ref="serviceEventBus"/>
    </bean>
    <bean id="authenticationServiceBackEndCall" class="org.eclipse.kapua.service.authentication.AuthenticationServiceBackEndCall"/>
    <bean id="authenticationServiceConverter" class="org.eclipse.kapua.service.authentication.AuthenticationServiceConverter">
        <constructor-arg name="metricsAuthentication" ref="metricsAuthentication"/>
        <constructor-arg name="metricsCamel" ref="metricsCamel"/>
        <constructor-arg name="translatorHub" ref="translatorHub"/>
        <constructor-arg name="protocolDescriptorProvider" ref="protocolDescriptorProvider"/>
    </bean>
    <bean id="authenticationServiceListener" class="org.eclipse.kapua.service.authentication.AuthenticationServiceListener">
        <constructor-arg name="authenticationServiceBackEndCall" ref="authenticationServiceBackEndCall"/>
        <constructor-arg name="metricsAuthentication" ref="metricsAuthentication"/>
    </bean>

    <!-- starts event bus and other components with a lifecycle -->
    <bean id="application" class="org.eclipse.kapua.service.camel.application.KapuaApplication"
          init-method="init"
          destroy-method="destroy"
          depends-on="databaseCheckUpdate"/>

    <camel:camelContext id="authenticationContext" depends-on="application">
        <!-- exception/error handler -->
        <camel:errorHandler id="authRouteMessageErrorHandler" redeliveryPolicyRef="kapuaRedeliveryPolicy"
                            type="DeadLetterChannel"
                            deadLetterUri="amqp:queue:$SYS/SVC/dlq/default"
                            useOriginalMessage="true">
        </camel:errorHandler>
        <camel:redeliveryPolicyProfile id="kapuaRedeliveryPolicy" maximumRedeliveries="0" redeliveryDelay="0" retryAttemptedLogLevel="WARN" logRetryAttempted="true"/>
    </camel:camelContext>
</beans>