<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2017 Eurotech and/or its affiliates and others

    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
        Eurotech - initial API and implementation
-->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <filter>
        <filter-name>ShiroFilter</filter-name>
        <filter-class>org.eclipse.kapua.app.console.commons.filter.KapuaWebFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ShiroFilter</filter-name>
        <url-pattern>/domain/*</url-pattern>
        <url-pattern>/group/*</url-pattern>
        <url-pattern>/domain/*</url-pattern>
    </filter-mapping>

    <!-- Session Timeout -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <servlet>
        <servlet-name>GwtDomainServiceImpl</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.module.authorization.server.GwtDomainServiceImpl
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GwtDomainServiceImpl</servlet-name>
        <url-pattern>/domain/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GwtGroupServiceImpl</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.module.authorization.server.GwtGroupServiceImpl
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GwtGroupServiceImpl</servlet-name>
        <url-pattern>/group/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GwtRoleServiceImpl</servlet-name>
        <servlet-class>org.eclipse.kapua.app.console.module.authorization.server.GwtRoleServiceImpl
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GwtRoleServiceImpl</servlet-name>
        <url-pattern>/role/*</url-pattern>
    </servlet-mapping>
</web-app>
